/* Color Scheme ===================================================================================
  #BF7E04 - Gold
  #650D1B - Red
  #577720 - Green
  #6893A1 - Blue
*/

/* Welcome ======================================================================================== */

div.container {
  width: 80%;
}

/* Dashboard ====================================================================================== */

button .btn {
  float: right;
}

.btn {
  color: #650D1B;
}

/* Profile ======================================================================================== */

/* Friends ======================================================================================== */

/* Goals ========================================================================================== */

.goalDropdown,
#selectedGoalTitle {
  text-transform: capitalize;
}

/* Login ========================================================================================== */

.sideLine {
  border-bottom: 1px solid #BF7E04;
  width: 43%;
  display: inline-block;
  vertical-align: middle;
}

.sepText {
  width: 11%;
  display: inline-block;
  color: #650D1B;
  text-align: center;
}

#root {
  background-color: blue
}