/* ========================================= Import(s) ========================================= */

@import 'index';

/* =========================================== Root  =========================================== */

#root {
  background-color: white;
}

/* ========================================== Footer  ========================================== */

footer {
  box-shadow: 0px -4px 9px -2px $primary-green;
}

.page-footer {
  background-color: $primary-blue;
  padding: 10px 0;
  position: absolute;
  bottom: 0px;
  width: 100%
}

#footerText {
  line-height: 17px;
  color: $primary-red;

  a {
    padding-left: 10px;
    color: $primary-red
  }
}

.footerSocial i {
  font-size: 20px;
}
