/* ========================================= Import(s) ========================================= */

@import '../../index';

/* ========================================== Buttons ========================================== */

.btn {
  margin-top: 10px;
  color: white!important;

  a {
    color: white!important;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem $ghost-green;
  }
}

.btn- {
  &gold {
    background-color: $primary-gold;
  }

  &red {
    background-color: $primary-red;
  }

  &green {
    background-color: $primary-green;
  }
  
  &blue {
    background-color: $primary-blue;
  }
}