/* ========================================= Import(s) ========================================= */

@import '../../index';

/* ========================================== NavTabs ========================================== */

.nav {
  // .nav li
  li {
    margin-right: 0!important;
  }

  // .nav-link
  &-link {
    color: $primary-red
  }

  // .nav-tabs
  &-tabs {
    border-bottom: 1px solid $primary-gold;

    // .nav-tabs .nav-link.active
    .nav-link.active {
      border-color: $primary-gold $primary-gold #fff
    }

    // .nav-tabs .nav-link:hover
    .nav-link:hover {
      border-color: #fff #fff $primary-gold;
      background-color: $primary-green;
      color: #fff
    }
  }
}